#background
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

html, body
{
  max-width: 100%;
  overflow-x: hidden;
}

@font-face
{
  font-family: monument;
  src: url("assets/monument.otf");
}
#title {
  font-family: monument;
  font-size: 75px;
  text-decoration: underline;
  position: absolute;
  left: 55px;
  top: -10px;
}

#kendrickArtShowcase {
  position: absolute;
  left: 600px;
  top: 100px;
}

#scotchTape
{
  width: 80%;
  height: 75%;
  position: absolute;
  left: 30%;
  top: 10%;
}

#musicPlayer
{
  width: 30%;
  height: 80%;
  position: absolute;
  top: 20%;
  z-index: 1;

}

#slider
{
  width: 150px;
  height: 40px;
  position: absolute;
  z-index: 2;
  left: 75px;
  top: 300px;
}

#play
{
  width: 4%;
  height: 8%;
  position: absolute;
  left: 17.2%;
  top: 58%;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  z-index: 3;
}

#pause
{
  width: 4%;
  height: 8%;
  position: absolute;
  left: 17.2%;
  top: 67%;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  z-index: 3;
}
